.bv-container .container {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bv-video {
  width: 90%;
  border-radius: 4rem;
  margin-top: -5rem;
  z-index: 1;
}

@media (max-width: 1024px) {
  .bv-video {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
    .bv-video {
        border-radius: 2rem;
    }
}
